{% extends 'master.html' %}
{% load static%}
{% block content %}
    <div class="about-us">
        <div class="container">
            <h1 class="my-1">About NewsToday.</h1>
            <div class="my-2">
                <h4>
                    Who we are?
                </h4>
                <p class="my-1">News Today is an ambitious online news portal designed to provide systematic and managed online news to the viewers. News Today is a complete web application for publishers who wants to drive an online newspaper. All contents are stored in database and divided into categories. Categories can be easily modified to browse and contains a self-organized interface to promote top-stories. The website can be managed with a role-based system similar like a real newspaper.</p>
            </div>
        </div>
    </div>

{% endblock %}